* {
  box-sizing: border-box;
}

body {
  font-family: Consolas, sans-serif;
}

.exit-container, .start-container {
  background-color: blue;
  color: white;
  text-align: center;
  font-size: 24px;
  padding: 20px 20px;
}

.circle-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.circle {
  width: 300px;
  height: 300px;
  background-color: black;
  color: white;
  float: left;
  font-size: 200px;
  margin: 15px 15px;
  padding: 10px 0px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.black {
  background-color:  black;
}

.active {
  background-color: red !important;
}